
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
        form {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            padding: 20px;
            width: 400px;
            margin: 50px auto;
        }
        h2 {
            text-align: center;
            margin-top: 0;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        input[type="text"],[type="email"],[type="tel"],textarea, select {
            padding: 8px;
            border-radius: 5px;
            width: 100%;
            margin-bottom: 10px;
            box-sizing: border-box;
            
        }
        input[type="email"]
        {
            padding: 8px;
            border-radius: 5px;
            width: 100%;
            margin-bottom: 10px;
            box-sizing: border-box;

        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            align-content: center;
        }
        input[type="submit"]:hover {
            background-color: #3e8e41;
        }
        table{
            
        }
        td,th{
            padding:10px;
            margin: 10px;
        }
     img{
            margin-left:100px;
        }